<a href="https://colab.research.google.com/github/roxacarv/sistemaderecomendacao_mal/blob/master/Dados_MAL_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sistema de Recomendação de Animes usando KNN

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Importando bibliotecas necessárias

In [2]:
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

##Importando dataset de animes

In [3]:
# Importando os dados relacionados aos animes
animes = pd.read_csv("drive/MyDrive/animal_mal/anime.csv", encoding="latin-1")

In [4]:
animes=animes[["MAL_ID", "Name", "Genres", "English name", "Type", "Rating"]]
animes["Type"].value_counts()

TV         4996
OVA        3894
Movie      3041
Special    2218
ONA        1907
Music      1469
Unknown      37
Name: Type, dtype: int64

## Importando dataset de perfis de usuários

In [5]:
# Importando os dados de ratings
ratings = pd.read_csv("drive/MyDrive/animal_mal/rating_complete.csv", encoding="latin-1")

In [6]:
animes["English name"] = animes["English name"].replace("Unknown", np.NaN)
animes["English name"].fillna(animes.Name, inplace=True)

In [95]:
ratings["user_id"].value_counts()

189037    15455
162615    14864
68042     13462
283786    12778
259790     9996
          ...
201316        1
201300        1
97555         1
201293        1
137466        1
Name: user_id, Length: 310059, dtype: int64

In [7]:
x = ratings["user_id"].value_counts() > 20

In [8]:
x

189037     True
162615     True
68042      True
283786     True
259790     True
          ...
201316    False
201300    False
97555     False
201293    False
137466    False
Name: user_id, Length: 310059, dtype: bool

In [9]:
y = x[x].index
y.shape

(263628,)

In [10]:
ratings = ratings[ratings["user_id"].isin(y)]

In [11]:
ratings

          user_id  anime_id  rating
0               0       430       9
1               0      1004       5
2               0      3010       7
3               0       570       7
4               0      2762       9
...           ...       ...     ...
57633273   353404       502       8
57633274   353404       987       4
57633275   353404       225       8
57633276   353404       243       7
57633277   353404       896       7

[57240355 rows x 3 columns]

In [12]:
animes.rename(columns={"MAL_ID": "anime_id"}, inplace=True)

In [13]:
animes_ratings = ratings.merge(animes, on="anime_id")
animes_ratings.head()

,user_id,anime_id,rating,Name,Genres,English name,Type,Rating
0,0,430,9,Fullmetal Alchemist: The Conqueror of Shamballa,"Military, Comedy, Historical, Drama, Fantasy, ...",Fullmetal Alchemist:The Movie - Conqueror of S...,Movie,PG-13 - Teens 13 or older
1,6,430,8,Fullmetal Alchemist: The Conqueror of Shamballa,"Military, Comedy, Historical, Drama, Fantasy, ...",Fullmetal Alchemist:The Movie - Conqueror of S...,Movie,PG-13 - Teens 13 or older
2,18,430,10,Fullmetal Alchemist: The Conqueror of Shamballa,"Military, Comedy, Historical, Drama, Fantasy, ...",Fullmetal Alchemist:The Movie - Conqueror of S...,Movie,PG-13 - Teens 13 or older
3,19,430,8,Fullmetal Alchemist: The Conqueror of Shamballa,"Military, Comedy, Historical, Drama, Fantasy, ...",Fullmetal Alchemist:The Movie - Conqueror of S...,Movie,PG-13 - Teens 13 or older
4,33,430,4,Fullmetal Alchemist: The Conqueror of Shamballa,"Military, Comedy, Historical, Drama, Fantasy, ...",Fullmetal Alchemist:The Movie - Conqueror of S...,Movie,PG-13 - Teens 13 or older

In [14]:
animes_ratings_times = animes_ratings.groupby("anime_id")["rating"].count().reset_index()

In [15]:
animes_ratings_times

       anime_id  rating
0             1   78074
1             5   33311
2             6   46293
3             7   10143
4             8    1505
...         ...     ...
16867     47614      62
16868     47616    1745
16869     47618      16
16870     48177      33
16871     48456     178

[16872 rows x 2 columns]

In [16]:
animes_ratings_times.rename(columns={"rating": "rating_count"}, inplace=True)
animes_ratings_times

       anime_id  rating_count
0             1         78074
1             5         33311
2             6         46293
3             7         10143
4             8          1505
...         ...           ...
16867     47614            62
16868     47616          1745
16869     47618            16
16870     48177            33
16871     48456           178

[16872 rows x 2 columns]

In [1]:
f_ratings = animes_ratings.merge(animes_ratings_times, on="anime_id")
f_ratings

NameError: ignored

## Importando dataset de reviews dos usuários

# Pré-processamento de dados