<a href="https://colab.research.google.com/github/roxacarv/sistemaderecomendacao_mal/blob/master/Manipula%C3%A7%C3%A3o_de_Dados_de_Avalia%C3%A7%C3%B5es_do_MAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sistema de Recomendação de Animes usando KNN

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Importando bibliotecas necessárias

In [3]:
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

##Importando dataset de animes

In [4]:
# Importando os dados relacionados aos animes
animes = pd.read_csv("drive/MyDrive/animal_mal/animes.csv", encoding="latin-1", error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
animes

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyssâa gaping chasm stretching down int...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...
...,...,...,...,...,...,...,...,...,...,...,...,...
19306,32979,Flip Flappers,Cocona is an average middle schooler living wi...,"['Sci-Fi', 'Adventure', 'Comedy', 'Magic']","Oct 6, 2016 to Dec 29, 2016",13.0,134252,843,1070.0,7.73,https://cdn.myanimelist.net/images/anime/4/822...,https://myanimelist.net/anime/32979/Flip_Flappers
19307,123,Fushigi Yuugi,"While visiting the National Library, junior-hi...","['Adventure', 'Fantasy', 'Magic', 'Martial Art...","Apr 6, 1995 to Mar 28, 1996",52.0,84407,1292,1071.0,7.73,https://cdn.myanimelist.net/images/anime/2/201...,https://myanimelist.net/anime/123/Fushigi_Yuugi
19308,1281,Gakkou no Kaidan,"Years ago, all of the ghosts in a haunted scho...","['Mystery', 'Horror', 'Supernatural']","Oct 22, 2000 to Mar 25, 2001",19.0,83093,1314,1073.0,7.73,https://cdn.myanimelist.net/images/anime/9/183...,https://myanimelist.net/anime/1281/Gakkou_no_K...
19309,450,InuYasha Movie 2: Kagami no Naka no Mugenjo,Inuyasha and company have finally destroyed Na...,"['Action', 'Adventure', 'Comedy', 'Historical'...","Dec 21, 2002",1.0,71989,1469,1077.0,7.73,https://cdn.myanimelist.net/images/anime/1162/...,https://myanimelist.net/anime/450/InuYasha_Mov...
19310,87,Mobile Suit Gundam: Char's Counterattack,The year is Universal Century 0093. Char Aznab...,"['Military', 'Sci-Fi', 'Space', 'Drama', 'Mecha']","Mar 12, 1988",1.0,29248,2604,1081.0,7.73,https://cdn.myanimelist.net/images/anime/1523/...,https://myanimelist.net/anime/87/Mobile_Suit_G...

## Importando dataset de perfis de usuários

In [6]:
# Importando os dados relacionados aos perfis dos usuários
profiles = pd.read_csv("drive/MyDrive/animal_mal/profiles.csv", encoding="latin-1", error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
# Dando um ID numérico para cada usuário porque o dataset de perfis não traz o id definido pelo MAL.
le.fit(profiles["profile"])
profiles["profile"]=le.transform(profiles["profile"])
le_profile_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

## Importando dataset de reviews dos usuários

In [8]:
# Importando os dados das reviews por usuário
reviews = pd.read_csv("drive/MyDrive/animal_mal/reviews.csv", encoding="latin-1", error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
# Dando um ID numérico para cada usuário porque o dataset de perfis não traz o id definido pelo MAL.
le.fit(reviews["profile"])
reviews["profile"]=le.transform(reviews["profile"])
le_profile_mapping_reviews = dict(zip(le.classes_, le.transform(le.classes_)))

# Pré-processamento de dados

In [10]:
# Removendo colunas desnecessárias de cada dataset
animes_df = animes[["uid", "title", "genre", "aired", "episodes", "popularity", "score"]]
# Alterando o nome de algumas colunas pra padronização dos animes
animes_df.rename(columns = {"uid": "anime_uid"}, inplace=True)
profiles_df = profiles[["profile", "gender", "favorites_anime"]]
# Alterando o nome de algumas colunas pra padronização dos profiles
profiles_df.rename(columns = {"favorites_anime": "favorites"}, inplace=True)
reviews_df = reviews[["profile", "anime_uid", "score"]]
# Alterando o nome de algumas colunas pra padronização das reviews
reviews_df.rename(columns = {"score": "user_score"}, inplace=True)
reviews_df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        profile  anime_uid  user_score
0          6837      34096           8
1         32404      34599          10
2         44549      28891           7
3         35005       2904           9
4         31031       4181          10
...         ...        ...         ...
192107    28456       1281           9
192108    24458       1281           9
192109     1474       1281           3
192110      999       1281          10
192111    23671       1281           9

[192112 rows x 3 columns]

In [11]:
# Verificando quantas vezes um usuário fez reviews
reviews_df["profile"].value_counts()

24591    762
25673    743
38977    648
15305    566
36106    491
        ...
38710      1
24995      1
19297      1
18191      1
44943      1
Name: profile, Length: 47885, dtype: int64

In [12]:
# Separando apenas usuários que fizeram 10 reviews ou mais
x = reviews_df["profile"].value_counts() > 10

In [13]:
x

24591     True
25673     True
38977     True
15305     True
36106     True
         ...
38710    False
24995    False
19297    False
18191    False
44943    False
Name: profile, Length: 47885, dtype: bool

In [14]:
y = x[x].index
print(y.shape)

(2854,)

In [15]:
# Buscando apenas as reviews de usuários que fizeram mais de 10
reviews_df = reviews_df[reviews_df["profile"].isin(y)]

In [16]:
# Mesclando reviews com animes
reviews_and_animes = reviews_df.merge(animes_df, on="anime_uid")
reviews_and_animes.head()

,profile,anime_uid,user_score,title,genre,aired,episodes,popularity,score
0,6837,34096,8,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...","Jan 9, 2017 to Mar 27, 2017",12.0,800,8.94
1,6837,34096,8,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...","Jan 9, 2017 to Mar 27, 2017",12.0,800,8.94
2,20650,34096,8,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...","Jan 9, 2017 to Mar 27, 2017",12.0,800,8.94
3,20650,34096,8,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...","Jan 9, 2017 to Mar 27, 2017",12.0,800,8.94
4,27090,34096,8,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...","Jan 9, 2017 to Mar 27, 2017",12.0,800,8.94

In [17]:
# Agrupando reviews e animes pela quantidade de vezes que um anime recebeu reviews
animes_reviews_times = reviews_and_animes.groupby("title")["score"].count().reset_index()

In [18]:
animes_reviews_times.rename(columns = {"score": "times_score"}, inplace=True)
animes_reviews_times

                                        title  times_score
0                                         "0"            2
1                    "Bungaku Shoujo" Memoire            2
2                      "Bungaku Shoujo" Movie           12
3                  "Calpis" Hakkou Monogatari            2
4                                      "Eiji"            1
...                                       ...          ...
6535                             xxxHOLiC Kei           16
6536  xxxHOLiC Movie: Manatsu no Yoru no Yume           16
6537                             xxxHOLiC Rou            4
6538                                 ÄlDLIVE            4
6539                                      â¯            2

[6540 rows x 2 columns]

In [19]:
# Mesclando reviews e animes com a quantidade de vezes que cada anime recebeu reviews
f_reviews = reviews_and_animes.merge(animes_reviews_times, on="title")
f_reviews

,profile,anime_uid,user_score,title,genre,aired,episodes,popularity,score,times_score
0,6837,34096,8,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...","Jan 9, 2017 to Mar 27, 2017",12.0,800,8.94,24
1,6837,34096,8,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...","Jan 9, 2017 to Mar 27, 2017",12.0,800,8.94,24
2,20650,34096,8,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...","Jan 9, 2017 to Mar 27, 2017",12.0,800,8.94,24
3,20650,34096,8,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...","Jan 9, 2017 to Mar 27, 2017",12.0,800,8.94,24
4,27090,34096,8,Gintama.,"['Action', 'Comedy', 'Historical', 'Parody', '...","Jan 9, 2017 to Mar 27, 2017",12.0,800,8.94,24
...,...,...,...,...,...,...,...,...,...,...
130379,6186,10033,8,Toriko,"['Action', 'Adventure', 'Comedy', 'Fantasy', '...","Apr 3, 2011 to Mar 30, 2014",147.0,1267,7.65,4
130380,34957,9751,8,Strike Witches Movie,"['Action', 'Ecchi', 'Magic', 'Military', 'Sci-...","Mar 17, 2012",1.0,2464,7.65,4
130381,43593,9751,8,Strike Witches Movie,"['Action', 'Ecchi', 'Magic', 'Military', 'Sci-...","Mar 17, 2012",1.0,2464,7.65,4
130382,2270,9751,10,Strike Witches Movie,"['Action', 'Ecchi', 'Magic', 'Military', 'Sci-...","Mar 17, 2012",1.0,2464,7.65,4
130383,487,9751,9,Strike Witches Movie,"['Action', 'Ecchi', 'Magic', 'Military', 'Sci-...","Mar 17, 2012",1.0,2464,7.65,4

In [20]:
# Buscando animes que têm 10 ou mais reviews
final_reviews = f_reviews[f_reviews["times_score"] > 10]
final_reviews.shape

(114798, 10)

In [21]:
# Removendo reviews duplicadas (mesmo usuário fez mais de uma review pro mesmo anime)
final_reviews.drop_duplicates(["profile", "title"], inplace=True)
final_reviews.shape

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(40954, 10)

In [22]:
# Transpondo a matriz pra fazer os animes se tornarem uma coluna e os perfis serem uma linha
animes_transposition = final_reviews.pivot_table(columns="profile", index="title", values="user_score")

In [23]:
animes_transposition

profile,5,33,38,50,74,82,95,98,103,126,...,47682,47686,47728,47740,47769,47791,47793,47796,47816,47821
title,,,,,,,,,,,,,,,,,,,,,
"""Bungaku Shoujo"" Movie",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
.hack//Sign,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
07-Ghost,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11eyes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15 Bishoujo Hyouryuuki,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ef: A Tale of Melodies.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ef: A Tale of Memories.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xxxHOLiC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xxxHOLiC Kei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xxxHOLiC Movie: Manatsu no Yoru no Yume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Animes que não possuem nota dos usuários passam a ter nota 0 em vez de NaN
animes_transposition.fillna(0, inplace=True)
animes_transposition

profile,5,33,38,50,74,82,95,98,103,126,...,47682,47686,47728,47740,47769,47791,47793,47796,47816,47821
title,,,,,,,,,,,,,,,,,,,,,
"""Bungaku Shoujo"" Movie",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
.hack//Sign,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
07-Ghost,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11eyes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15 Bishoujo Hyouryuuki,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ef: A Tale of Melodies.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ef: A Tale of Memories.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC Kei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC Movie: Manatsu no Yoru no Yume,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
from scipy.sparse import csr_matrix
# Criando uma matriz esparsa a partir dos dados tranpostos
animes_sparse = csr_matrix(animes_transposition)

In [26]:
# Treinando o algoritmo de testes
knn_model = NearestNeighbors(algorithm="brute")
knn_model.fit(animes_sparse)

NearestNeighbors(algorithm='brute')

In [27]:
# Procurando sugestões baseadas em algum anime
distances, suggestions = knn_model.kneighbors(animes_transposition.iloc[0, :].values.reshape(1, -1))

In [28]:
animes_transposition.head()

profile,5,33,38,50,74,82,95,98,103,126,...,47682,47686,47728,47740,47769,47791,47793,47796,47816,47821
title,,,,,,,,,,,,,,,,,,,,,
"""Bungaku Shoujo"" Movie",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
.hack//Sign,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
07-Ghost,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11eyes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15 Bishoujo Hyouryuuki,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
for i in range(len(suggestions)):
  print(animes_transposition.index[suggestions[i]])

Index(['"Bungaku Shoujo" Movie', 'Bronze: Zetsuai Since 1989', 'Nami',
       'Dyogrammaton', 'IâCan'],
      dtype='object', name='title')